.app-wrapper {
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 10px;
}

.header-wrapper {
  grid-area: h;
  border: 1px solid black;
}

.nav-wrapper {
  grid-area: n;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid black;
}
.profile-wrapper{
  grid-area: c;
  margin-top: 10px;
  border: 1px solid black;
}
.content-wrapper {
  grid-area: c;
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
}